/* styles.css */

/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background: radial-gradient(circle, #a0cfe6, #083d77);
}

/* Navigation */
header {
    background-color: #222;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin:0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #ddd;
}

/* Hero Section */
.hero {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-context: center;
    align-items: center;
    background: linear-gradient(90 deg,
        red 0%,
        orange 16.66%,
        yellow 33.33%,
        green 50%,
        blue 66.66%,
        indigo 83.33%,
        violet 100%);
    color: #fff;
    text-align: center;
    /*padding: 150px 20px;*/
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 30px;
}

.btn {
    background-color: #e8491d;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background-color: #cf3e12;
}

/* Sections */
.section {
    padding: 60px 20px;
}

.section h2 {
    text-align: center;
    margin-bottom: 40px;
}

.about {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 20px;
    color: #fff;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    margin-bottom: 10px;
}

.projects {
    color: #fff;
}

.projects .project {
    max-width: 800px;
    margin: 0 auto 60px;
    text-align:center;
}

.projects .project img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.projects .project p {
    margin-bottom: 10px;
}

.contact {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 20px;
    color: #fff;
}

.contact-list {
    list-style: none;
    padding: 0;
}

.contact ul li {
    margin-bottom: 10px;
}

.contact ul a {
    color: #e8491d;
    text-decoration: none;
}

.contact ul a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    margin-top: 60px;
}

@media (max-width: 768px) {
    .hero {
        height: 100vh;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 18px;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }
}